*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

#btnFetch{
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#formFiltros{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

ul{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
}

li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

div.paginacion{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#btnAnterior, #btnSiguiente{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}